<%= form_with model: @short, url: "/upvid/#{@id}", local: true, method: :post do |form| %>
  <div>
    <%= form.label :vid %>
    <%= form.file_field :vid %>
  </div>
  <%= form.submit "Upload" %>
<% end %>
